*{
    margin: 0px;
    padding: 0px;}

body{
    background: url('fundo-site.png') repeat-x;}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;}

/*=============================================*/
/*
    FORMATANDO O TOPO DO SITE
*/

#container{
    margin: auto;
    width: 750px;}

#topo{
    height: 175px;
    border: solid red;
    padding-top: 10px;
    background: url('detalhe-topo.png') no-repeat right top;}

.logo{
    width: 155px;
    height: 80px;
    text-indent: -3000px;
    background: url('logo-site.png') no-repeat;}

/*
    LINK DO TOPO DO SITE
*/

#topo ul{
    }