/*=====================
*/
*{
    margin: 0;
    padding: 0;}

body{
    background: url('fundo.png') repeat-x;
    font: 12 "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    }

/*FORMATANDO O TOPO DO SITE
===========================*/
#container{
    width: 1080px;
    margin: 0 auto;}

#logo h1{
    float: left;}

#logo a{
    width: 256px;
    height: 21px;
    display: block;
    text-indent: -9999px;
    background: url('logo.png') no-repeat;}

header{
    padding: 15px 0px;
    height: 55px;}

nav ul.menu-topo{
    float: right;
    list-style: none;}

nav ul.menu-topo li{
    float: left;
    margin: 15px;}


/*FORMATANDO OS LINKS DO TOPO DO SITE
====================================*/
a:link, a:visited, a:active{
    color: #af670a;
    text-decoration: none;}

nav ul li a:link{
    padding-bottom: 3px;
    display: block;
    text-transform: uppercase;}

a:hover{
    color: #227115;
    border-bottom: 1px solid #535858;}