*{
    margin: 0;
    padding: 0;}

body{
    background: url('fundo.png') repeat-x;
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    }

ul{
    list-style: none;}
/*
    ESTRUTURANDO O TOPO DO SITE
*/

header{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    border: 1px solid red;
    width: 60%;
    justify-content: space-between;}

#area-menu-principal{
    border: solid 1px blue;
    }

#area-logo{
    border: solid 1px yellow;
    width: 300px;
    height: 40px;
    background: url('logo.png') no-repeat;}

#area-logo h1{
    text-indent: -9000px;
    }

/*
    FORMATANDO O LINK DO TOPO DO SITE
*/

#area-menu-principal a{
    color: #804000;
    font-size: 0.9em;}

#area-menu-principal ul li{
    float: left;
    padding-left: 20px;}

#area-menu-principal ul a{
    display: block;
    text-decoration: none;
    padding-top: 5px;}