body {
    background-image: url('../imagens/fundo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}


.lampada{
    margin-top: 30%;
}

.acender{
    margin-left: 100%;
}

.apagar{
    margin-right: 100%;
}
