/*=========== SELETORES ============*/

/* Aplicando o seletor universal


*{ border: solid red; }


Seletor filho: Neste exemplo, o link que está dentro do LI será formatado. Agora, o link que estiver fora, não será
 alterado.
 li>a{ color: red }

Seletor descedente: Ele é parecido com o seletor filho. Porém, independente se for filho direto ou não, ele
 será formatado.
 div p{ color: green; }

Seletor de irmão adjacente: Neste exemplo, ele seleciona o primeiro elemento <p> depois de qualquer elemento <h1>
 (Mas não outros elementos <p>)
 h1+p{ color: orange; }

Seletor de irmão geral: Neste exemplo, se houvessem dois elementos <p> que fossem irmão de um elemento <h1>, essa
  regra se aplicaria aos dois
  h2~p{ color: gray; }    */

/*========== NAGEVEGAÇÃO NA VERTICAL ==============*/
/*
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;}

li{
    padding: 5px 20px;
    background: url('seta.png') no-repeat center left;}

ul{ padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: block;}

ul a{
      width: 200px;
      height: 40px;
      display: block;
      color: #000;
      text-decoration: none;
      text-indent: 40px;
      line-height: 40px;
      font-weight: bold;

      background: #f7b600 url('menu.png') no-repeat left;
       }

a:hover{ background-position: right;
         background-color: #f99200;
         color: white;   }
*/
/*=========== MARCANDO A PÁGINA ATUAL ==============*/
/*
#home #navegacao .home a,
#sobre #navegacao .sobre a {  background-position: right;
                              background-color: #f99200;
                              color: white;   }
*/

/* =========== NAVEGAÇÃO HORIZONTAL ============= */
/*
ul#navegacao{ padding: 0px;
               margin: 0px;
               list-style: none;
               float: left;}

ul#navegacao li{
                 text-align: center;
                 float: left;
                 line-height: 2em;
                 width: 250px;
                 background: #159cb0 url('fundo-horizontal.png') repeat-x;  }

ul#navegacao a { text-decoration: none;
                 padding: 0 2em;
                 display: block;
                 color: white;
                 background:  url('divisor.png') repeat-y;   }

ul .primeiro a { background: none; }

ul#navegacao a:hover{ background: #62DEF7;
                      color: black;   }

#home #navegacao .home a,
#sobre #navegacao .sobre a{
                            background: #62DEF7;
                            color: black;
                           }
*/

/*=============== NAVEGAÇÃO COM ABAS =================*/
/*
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul#navegacao li{
                float: left;
                background: url('aba-direita.png') no-repeat top right;}

 li a {
                padding: 0 2em;
                line-height: 3em;
                text-decoration: none;
                display: block;
                background: url('aba-esquerda.png') no-repeat;
                color: white;
                   }

ul#navegacao li a:hover{
                        color: #894a1f;}

ul#navegacao #atual {
                     background: url('aba-direita-atual.png') no-repeat top right;
                     }

ul#navegacao #atual a {
                     background: url('aba-esquerda-atual.png') no-repeat top left;
                     color: black;
                     }
*/

/*================= LAYOUT DE LARGURA FIXA ===================*/

#container{
           width: 700px;
            margin: 0 auto;
            background: #fff;}

#marca{
       height: 100px;
        text-align: center;
        line-height: 100px;
        background: #9e9e9e;}

#conteudo{
            border: solid gray;
            width: 420px;
            float: right;}

#navegacao{
            width: 180px;
            border: solid gray;
            height: 200px;
            background: #CFD7D8;
}

#rodape{
        border: solid gray;
        clear: both;}